$info : 1.2vw;
// $subheading: 2vw;
$heading: 2.5vw;


.mainCont {
  display: flex;
  padding: 0px 9%;
  height: 100vh;
  align-items: center;

  p {
    margin: 0px;
  }
}

.container {
  display: flex;
  overflow-x: auto;
  gap: 250px;
  padding: 0px 5%;
}

.subContainer {

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  gap: 150px;

  .data {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 48vw;
    
    .heading {
      color: white;
      font-family: "Oswald", sans-serif;
      font-size: $heading;
    }

    p {
      color: white;
      font-size: $info;
      font-weight: 100;
    }
  }
}

.transactionCont{
  display: flex;
  flex-direction: column;
  gap: 100px;

  .heading {
    color: white;
    font-family: "Oswald", sans-serif;
    font-size: $heading;
  }

  img{
    width: 80vw;
  }
}

.rectContainer{
  position: relative;

  .btcVector {
    width: 25%;
    top: 45%;
    left: 55%;
    position: absolute;
    z-index: 10;
  }
}